a {
    text-decoration: none;
}
#education article #education-graduation-h1,
#education article #curso {
    color: var(--black);
    text-align: center;
}
#education article #education-graduation-university svg {
    fill: var(--black);
}
#education article #education-graduation-university svg path {
    cursor: pointer;
}
#education article #education-graduation-h1 {
    margin-top: 30px;
}
#education article #education-graduation-university {
    margin-top: 30px;
    display: flex;
    align-items: center;
    transition: 200ms;
    cursor: pointer;
}
#education article #education-graduation-university:hover {
    transform: scale(1.1);
}
#education article #education-graduation-university-icon {
    margin-right: 10px;
    height: 17px;
    width: 17px;
}
#education article #education-graduation-university-icon,
#education article #education-graduation-university h2 {
    cursor: pointer;
}
#education article #education-graduation-university h2,
#education article #education-graduation-university-course {
    color: var(--black);
}
#education article #education-graduation-university h2 {
    font-size: 17pt;
    font-weight: 600;
    letter-spacing: -.3px;
}
#education article #education-graduation-university-course {
    margin-top: 5px;
    font-size: 12pt;
    font-weight: 450;
    letter-spacing: .3px;
}

@media (max-width: 599px) {
    #education article #education-graduation-h1 {
        font-size: 30pt;
        margin: -70px 0 0 0;
    }
    #education article #education-graduation-university h2 {
        font-size: 13pt;
        text-align: left;
    }
    #education article #education-graduation-university-course {
        font-size: 9pt;
    }
    #education article #education-graduation-university-icon {
        height: 12px;
        margin: 0 2.5px 0 0;
    }
}